<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conditions</title>
</head>
<body>
    <center>
        <h1>Demonstration of Conditions by using Jinja Operational Tags</h1>
        <!--
                {% if a > 15 %}
                    <h1>inside if Block</h1>
                    <h1>a value is {{a}}</h1>
                {% endif %}
        -->
        <!--
        {% if a > b %}
            <h1>inside if Block </h1>
            <h1>{{a}} is greater than {{b}}</h1>
            <h1>a is greater than b</h1>
        {% else %}
            <h1>inside else Block </h1>
            <h1>{{b}} is greater than {{a}}</h1>
            <h1>b is greater than a</h1>
        {% endif %}
        -->
        <!--
        {% if a > b and a > c %}
            <h1>Inside if </h1>
            <h1>a is maximum</h1>
        {% elif b > c %}
            <h1>Inside elif </h1>
            <h1>b is maximum</h1>
        {% else %}
            <h1>Inside else </h1>
            <h1>c is maximum</h1>
        {% endif %}
        -->
        {% if a > b %}
            {% if a > c %}
                <h1> a is max</h1>
            {% else %}
                <h1>c is Max</h1>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h1>B is max</h1>
            {% else %}
                <h1>C is max</h1>
            
            {% endif %}
        {% endif %}
    </center>
</body>
</html>